.u-section-1 .u-sheet-1 {
  min-height: 6243px;
}

.u-section-1 .u-image-1 {
  width: 462px;
  height: 81px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  margin: 32px 0 50px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 6222px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 60px;
  }
}